{
    ".env": {"fcb_key": "xxx"},
    "y1_a": {
        "webhook": "https://discord.com/api/webhooks/XXX/XXX-XXX",
        "user": "xxx.xxx.xxx@icp.edu.np",
        "pass": "*****",
        "token": ""
    },
    "y1_s": {
        "webhook": "https://discord.com/api/webhooks/XXX/XXX-XXX",
        "user": "xxx.xxx.xxx@icp.edu.np",
        "pass": "*****",
        "token": ""
    },    
    "y2": {
        "webhook": "https://discord.com/api/webhooks/XXX/XXX-XXX",
        "user": "xxx.xxx.xxx@icp.edu.np",
        "pass": "*****",
        "token": "",
        "tg_bot_token": "xxx:xxx",
        "tg_group_id": 2550067966,
        "tg_topic_id": 2
    },
    "y3": {
        "webhook": "https://discord.com/api/webhooks/XXX/XXX-XXX",
        "user": "xxx.xxx.xxx@icp.edu.np",
        "pass": "*****",
        "token": ""
    }        
}
