{% extends "base.html" %}

{% block title %}ICP Calendar{% endblock title %}
    {% block css %}
    <style>
        table,
        th,
        td {
            border-collapse: collapse;
            border: solid 2px grey;
            padding: 10px;
        }

        .today{
            background-color: #ffeb3b;
        }
        .back-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  position:absolute;
  top: 15px;
  left: 15px;
}
</style>
{% endblock css %}

{% block body %}
<center>
        <label for="classes">Classs:</label>
        <select name="classes" id="classes" onchange="classChanged()">

        </select> 

        <label for="sections">Section:</label>
        <select name="sections" id="sections" onchange="sectionChanged()">

        </select> 
<h3 id="cur_class"></h3>
<p><canvas id="canvas" style="display:none;border:2px solid black;" width="500" height="500"></canvas>
<i><a href="javascript:void(0)" onclick="save_img()" id="save_img">Download this table as image</a> | <a target="_blank" href="" id="cal_url_view">View in Google Calendar</a> | <a target="_blank" href="" id="cal_url_add">Add to Google Calendar</a></i>
<br> <br> 

<table id="table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Module</th>
            <th>Room</th>
        </tr>
    </thead>
    <tbody id="schedule-body">
    </tbody>
</table>

    </center>

<script>
let sections={{ sections|safe }}
let cal_ids={{ cal_ids|safe }}

const static_cal={{ static_cal|safe }}

function populateClassOptions() {
        const select = document.getElementById('classes');
        select.innerHTML = '';

        for (let className in sections) {
            let option = document.createElement('option');
            option.value = className;
            option.text = className;
            select.appendChild(option);
        }
    }

populateClassOptions();

const cal_url_view=document.getElementById("cal_url_view")
const cur_class=document.getElementById("cur_class")
const cal_url_add=document.getElementById("cal_url_add")
const save_img_link=document.getElementById("save_img");

function clearTable() {
        let tableBody = document.getElementById('schedule-body');
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild); // Removes each child (row)
        }
    }

let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
let tableBody = document.getElementById('schedule-body');
function changeSchedule(class_name="Year 1 BIC - C1"){
    // console.log(class_name);
    save_img_link.setAttribute('download', null);
                    save_img_link.href="javascript:void(0)";
                    save_img_link.innerText="Download this table as image"
    class_data=static_cal[class_name];
    clearTable();

    class_data.forEach((dayClasses, index) => {
            if (dayClasses.length > 0) {
                dayClasses.forEach((classItem, classIndex) => {
                    let row = document.createElement('tr');
                    
                    // If it's the first class for the day, add a rowspan cell for the day
                    if (classIndex === 0) {
                        let dayCell = document.createElement('td');
                        dayCell.textContent = days[index];
                        dayCell.rowSpan = dayClasses.length;
                        row.appendChild(dayCell);
                    }
                    let timeCell = document.createElement('td');
                    timeCell.textContent = classItem[2].slice(0,-3);
                    row.appendChild(timeCell);

                    // Add subject, room, and time cells
                    let subjectCell = document.createElement('td');
                    subjectCell.textContent = classItem[0];
                    row.appendChild(subjectCell);

                    let roomCell = document.createElement('td');
                    roomCell.textContent = classItem[1];
                    row.appendChild(roomCell);


                    // Append the row to the table body
                    tableBody.appendChild(row);
                });
            }
            // } else {
            //     // Add an empty row for the day if there are no classes
            //     let row = document.createElement('tr');
            //     let dayCell = document.createElement('td');
            //     dayCell.textContent = days[index];
            //     let emptyCell = document.createElement('td');
            //     emptyCell.textContent = "---";
            //     emptyCell.colSpan = 3;
            //     row.appendChild(dayCell);
            //     row.appendChild(emptyCell);
            //     tableBody.appendChild(row);
            // }
        });    
        highlight_today();

    cal_url_view.href='https://calendar.google.com/calendar/embed?src='+cal_ids[class_name]+'&ctz=Asia/Kathmandu&csspa=1'
    cal_url_add.href='https://calendar.google.com/calendar/r?cid='+cal_ids[class_name]
}

const sectionDrop=document.getElementById("sections");
const classDrop=document.getElementById("classes");

function loadSection(class_name="Year 1 BIC"){

    var i, L = sectionDrop.options.length - 1;
   for(i = L; i >= 0; i--) {
    sectionDrop.remove(i);
   }    

    for (var key in sections[class_name]) {
        var option = document.createElement("option");
        option.text = sections[class_name][key];
        option.value = sections[class_name][key];
        sectionDrop.add(option); 
}

}
function classChanged(x=null){
    loadSection(classDrop.value);
    if(!x){sectionChanged()}
}

function sectionChanged(){
    changeSchedule(classDrop.value+" - "+sectionDrop.value);
    cur_class.innerText=classDrop.value+" - "+sectionDrop.value
    document.cookie = "class="+escape(classDrop.value);
    document.cookie = "section="+escape(sectionDrop.value);
}
function getCookie(name){
    cookies=document.cookie.split(";");
    for (var cookie of cookies){
        cooksplit=cookie.trim().split("=")
        if (cooksplit[0].trim()==name){
            return unescape(cooksplit[1].trim())
        }
    }
}
function highlight_today(){
    let today = new Date().getDay();
   const rows = document.querySelectorAll('#schedule-body tr'); // Get all rows in tbody
   let highlight = false;
        rows.forEach(row => {
            if (row.firstChild && row.firstChild.textContent === days[today]) {
                highlight = true;
                row.classList.add("today");
            }else if (highlight && row.firstChild && (!row.firstChild.textContent.endsWith("day"))) {
                row.classList.add('today'); 
            }else{
                highlight=false;
            }
        });   
}
function loadUserSelection(){
    class_cookie=getCookie("class");
    section_cookie=getCookie("section");

    if(class_cookie){
        classDrop.value=class_cookie;
        classChanged("x");
        sectionDrop.value=section_cookie;
        sectionChanged();
    }else{
    classChanged();
    }
}

window.onload=loadUserSelection;

        </script>
              <!-- <script type="text/javascript" src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js"></script> -->
              <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>
        function save_img(){
            const todayRows = document.querySelectorAll('.today');

            if (save_img_link.innerText.includes("Click")){
                return;
            } 
            todayRows.forEach(row => row.classList.remove('today'));
            html2canvas(document.getElementById("table")).then(function(canvas) {
                    var img = canvas.toDataURL("image/png");
                    var newData = img.replace(/^data:image\/png/, "data:application/octet-stream");
                    save_img_link.setAttribute('download', cur_class.innerText+'.png');
                    save_img_link.href=newData;
                    save_img_link.innerText="Click to Download";
                    }
            );
            todayRows.forEach(row => row.classList.add('today'));
        }
    
    </script>
{% endblock body %}
